.pageHeader {
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	font-family: Arial, Helvetica;
}

/******************************************************************************/
#responseDiv {
	display: none;
	border: 1px solid red;
	width: 60%;
}

/******************************************************************************/
input[type="checkbox"] {
	margin-top: 10px;
	
}
fieldset {
	margin: 10px;
	padding-left: 5px;
	border: 2px solid black;	
}
legend {
	font-weight: bold;
	-webkit-padding-start: 4px;
	-webkit-padding-end: 4px;
}
.filters {
	display: inline-block;
	width: 175px;
	background-color: #fff;
	margin-right: 50px;
	
	vertical-align: top;
}
.filters label{
	display: block;
}

.filters_and_svg{
	width: 1190px;
	margin: 20px auto;
}
.svg_and_controls {
	display: inline-block;
	width: 960px;	
}
.svg_holder{	
	background-color: #fff;
}
/******************************************************************************/
.axis path,
.axis line {
	stroke: black;
	stroke-width: 2px;
	fill: none;
}
.axis text{
	font-family: sans-serif;
	font-size: 12px;			
	fill: black;
}

#svg-tooltip-main {
	text-anchor: start;
	font-family: Arial;	
}
#svg-tooltip-state {
	font-size: 16px;
	font-weight: bold;
}
#svg-tooltip-count {
	font-size: 12px;
	font-weight: normal;
}
.legend {
	font-family: Arial;
	font-size: 11px;
}
/******************************************************************************/
.controls{
	width: 	50%;
	margin: 20px auto 20px auto;
}
input[name=yearSelect] {
	width: 100%;
}
.yearDisplay{
	width: 60px;
	height: 30px;
	
	margin: 0 auto 0 auto;
	
	font-size: 28px;
	font-family: Arial;
	color: SkyBlue;
}

label[title="sortLabel"] {
	font-size: 18px;
}

/******************************************************************************/
footer.dataSource {
	margin: 40px auto 20px auto;
	text-align: right;
	width: 80%;
	font: 10px Consolas, Arial;
	
}